body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.converter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.converter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.converter-container * {
  margin-left: 20px;
}

.footer-container {
  display: flex;
}

.nav-style {
  padding-top: 20px;
}

.base-currency {
  margin-top: 20px;
}

.form-control {
  width: auto;
}

.curr-input {
  -moz-appearance: textfield;
}
.curr-input::-webkit-inner-spin-button {
  display: none;
}

.result {
  color: darkseagreen;
  font-weight: bold;
}

.btn-secondary {
  background-color: lightslategray;
}
