body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.converter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.converter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.converter-container * {
  margin-left: 20px;
}

.footer-container {
  display: flex;
}

.nav-style {
  padding-top: 20px;
}

.base-currency {
  margin: 20px 0 20px 0;
}

.form-control {
  width: auto;
}

.curr-input {
  -moz-appearance: textfield;
}
.curr-input::-webkit-inner-spin-button {
  display: none;
}

.result {
  color: darkseagreen;
  font-weight: bold;
}

.btn-secondary {
  background-color: lightslategray;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.loader-wrapper.mini {
  position: inherit;
}

.loader {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: conic-gradient(darkseagreen, transparent);

  animation: rotating 1s linear infinite;
}

.loader::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background: white;
}

@keyframes rotating {
  from {
    transform: rotate(360deg);

  }
  to {
    transform: rotate(0deg);
  }
}

.currencies-table {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
  grid-auto-rows: 50px;
  height: 280px;
  justify-items: center;
}

.currencies-column {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto;
  grid-auto-rows: 40px;
}

.courses-container .base-currency .btn-group {
  margin-left: 20px;
}

.notification {
  margin-bottom: 30px;
  text-align: center;
  color: darksalmon;
}